.rose {
  --rose: #d5b;
  background: #111;
  color: var(--rose);
}

.rose ::selection {
  background: gold;
  color: #111;
}

.rose :any-link {
  color: gold;
}

@media (prefers-contrast: more) {
  .rose {
    --rose: mistyrose;
  }
}
